body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
}

.calculator {
  width: 15%;
  justify-content: center;
  margin: auto;
}

.output {
  min-width: 12rem;
}

.buttons {
  padding: 0;
  min-width: 3rem;
}

.zero-btn {
  min-width: 6rem;
  height: 1.6rem;
  line-height: 1.5rem;
}
